@import url("https://fonts.googleapis.com/css2?family=Anton&family=Varela+Round&display=swap");

// Collor Pallete
$main-color: #fb7813;
$bg-color: #000000;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

*::selection {
  background-color: $main-color;
  columns: #fff;
}

a {
  color: #fff;
}

p {
  margin: 0.5rem 0;
}

h1,
h2 {
  line-height: 1.2;
}
