.footer {
  position: relative;
  overflow: hidden;

  .footer__svg-right,
  .footer__svg-left {
    position: absolute;
    width: 100px;
    opacity: 0.4;
    transform: rotate(30deg);
  }

  .footer__svg-right {
    right: -1rem;
    top: 5rem;
  }

  .footer__svg-left {
    left: -1rem;
    bottom: 5rem;
  }

  .footer__container {
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    display: grid;
    justify-items: center;
    text-align: center;
    row-gap: 0.5rem;
  }

  .footer__logo,
  .footer__links,
  .footer__social {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .footer__logo {
    img {
      width: 32px;
      height: 32px;
    }

    span {
      font-family: 'logo';
      color: var(--first-color);
      font-size: 1.2rem;
    }
  }

  .footer__description {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }

  .footer__links {
    margin-bottom: 1rem;
    gap: 2.5rem;

    a {
      transition: 0.3s;
    }
  }

  .footer__social {
    margin-bottom: 3rem;
    gap: 1.5rem;

    i {
      transition: 0.3s;
    }
  }

  .footer__copy {
    font-family: 'logo';
    font-size: 0.6rem;
    letter-spacing: 1px;
    color: var(--text-color-light);

    a {
      font-family: 'logo';
      color: var(--first-color);
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@       HOVER        @@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .footer__links a:hover,
  .footer__social a:hover i {
    color: var(--first-color);
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media (max-width: 1024px) {
  .footer {
    .footer__container {
      padding-bottom: 7rem;
    }
  }
}

@media (max-width: 575px) {
  .footer {
    .footer__svg-right,
    .footer__svg-left {
      width: 70px;
    }

    .footer__svg-right {
      right: -2rem;
      top: 2rem;
    }

    .footer__svg-left {
      left: -2rem;
      bottom: 9rem;
    }

    .footer__container {
      padding-top: 4rem;
    }
  }
}
