.skills {
  .skills__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    column-gap: 3rem;
  }

  .accordions-right,
  .accordions-left {
    display: grid;
    row-gap: 3rem;
  }

  .accordion {
    overflow: hidden;

    box-shadow: 0 2px 5px 0 var(--box-shadow-color);
    border-radius: 0.5rem;
    padding: 2rem 2rem 1rem;
    transition: 0.3s;
  }

  .accordion__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;

    i {
      margin-right: auto;
      transition: 0.3s;
    }
  }

  .accordion__content {
    display: grid;
    row-gap: 1.5rem;
    max-height: 0px;
    opacity: 0;
    transition: 0.4s;
  }

  .accordion__skill-top {
    display: flex;
    justify-content: space-between;

    h4 {
      letter-spacing: 0.5px;
    }
  }

  .accordion__skill-progress {
    position: relative;
    width: 100%;
    height: 4px;
    background: hsl(207, 65%, 85%);
    border-radius: 0.2rem;
    overflow: hidden;
  }

  .accordion__skill-progress div {
    position: absolute;
    top: 0;
    right: 0;
    height: 4px;
    background: hsl(207, 65%, 60%);
    border-radius: 0.2rem;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@   HOVER - ANIMATION    @@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .accordion:hover img {
    animation: accordion 0.5s;
  }

  @keyframes accordion {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(-6px);
    }

    50% {
      transform: translateY(0);
    }

    75% {
      transform: translateY(-3px);
    }

    100% {
      transform: translateY(0);
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@        JS CLASSES         @@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .show-accordion {
    padding-bottom: 2rem;
  }

  .show-accordion .accordion__content {
    max-height: 500px;
    opacity: 1;
  }

  .show-accordion .accordion__header i {
    transform: rotate(180deg);
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media (max-width: 767px) {
  .skills {
    .skills__container {
      grid-template-columns: 1fr;
      row-gap: 2rem;

      .accordions-right,
      .accordions-left {
        row-gap: 2rem;
      }

      .accordion {
        padding-inline: 1.5rem;
      }
    }
  }
}
